<div class="beadboard-component">
  <div class="component-title">
    BEADBOARD
  </div>
  <div class="option-buttons">
    <button class="btn">Smooth</button>
  </div>
  <div class="home-image-description">
    <div class="home-image">
      <img src="assets/images/beadboard-modal-main.png">
    </div>
    <div class="description">
      <div class="desc-title">
        <span class="title1">Allura</span> <span class="title2"> Beadboard</span>
      </div>
      <div class="desc-subtitle">
        Smooth
      </div>
      <div class="desc-description">
          Exceptionally beautiful, exceedingly durable, Allura Fiber Cement Beadboard is perfect for any ceiling application, including porches and gazebos. Elevate the look of any outdoor ceiling application with Allura Beadboard.
      </div>
    </div>
  </div>
  <div class="home-images d-flex">
    <div class="home">
      <img src="assets/images/beadboard-m-1.png">
    </div>
    <div class="home">
      <img src="assets/images/beadboard-m-2.png">
    </div>
    <div class="home">
      <img src="assets/images/beadboard-m-3.png">
    </div>
    <div class="home">
      <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
    </div>
  </div>
</div>