<div class="color-max-component">
  <div class="colormax-logo">
    <img src="assets/images/ColorMax_Logo.png">
  </div>
  <div class="description-logo align-items-center">
    <div class="desc">
      <div class="title">Pre-finished in the factory*.</div>
      <div class="description">
        Applied and cured in factory-controlled conditions
        Uniform paint application to 5-sides for perfect finish
        Paint-related issues are covered under warranty
        Instant curb appeal, no project delays
      </div>
    </div>
    <div class="year-logo">
      <img src="assets/images/colormax-logo.png">
    </div>
  </div>
  
  <button mat-raised-button (click)="viewColors()">VIEW COLORMAX COLORS</button>
  <div class="not-available">*Not available in all markets</div>
</div>