.color-max-modal
  .modal-title
    display: flex;
    justify-content: flex-end;

    .modal-close
      position: relative;
      background-image: url(/assets/images/close.png);
      background-size: contain;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-repeat: no-repeat;
      z-index: 3