<div class="container right-choice-component">
  <div class="title">
    Allura is the right choice
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="choice">
        <ul>
          <li>Premium Siding with the Features & Benefits you need</li>
          <li>From a respected manufacturer</li>
          <li>Best warranty in the industry</li>
          <li>Many design options</li>
          <li>A complete system to protect your house</li>
        </ul>
      </div>
      <div class="no-matter-your-needs">
          No matter your needs, Allura provides the best options for any remodeling project.
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <img src="assets/images/right-choice.png">
    </div>
  </div>
</div>