.right-choice-component
  margin-top: 25px;

.title
  color: #332525;
  font-family: Lato;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  // width: 540px;
  text-align: left;

.row
  margin-top: 25px;

  > div
    padding: 20px;

.choice
  li
    color: #332525;
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
    // width: 454px;
    text-align: left;

.no-matter-your-needs
  color: #332525;
  font-family: Lato;
  font-size: 26px;
  font-weight: 600;
  line-height: 42px;
  width: 454px;
  text-align: left;
  margin-top: 39px;
  margin-left: 15px;

img
  height: 500px;

@media only screen and (max-width: 768px)
  .no-matter-your-needs
    width: unset!important;
  img
    height: 314px!important;
  .title
    font-size: 36px!important;
  li
    font-size: 23px!important;
@media only screen and (max-width: 375px)
  img
    height: 272px !important;
  li
    font-size: 20px !important;
  .title
    font-size: 30px!important;
  .no-matter-your-needs
    font-size: 22px!important;
    line-height: 38px!important;
@media only screen and (max-width: 320px)
  img
    height: 230px !important;
  li
    font-size: 17px !important;
    line-height: 39px !important;
  .title
    font-size: 26px!important;
