<div class="non-combustible">
  <div class="title-logo d-flex">
    <div class="title-description">
      <div class="title">
        Non-combustible
      </div>
      <div class="description">
          Our class-A rated fire material keeps your home safe and your family sound.
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/fire_icon.png">
    </div>
  </div>
  <div class="video-benefits d-flex">
    <div class="video">
      <!-- <img src="assets/images/fire-video.png"> -->
      <iframe width="430" height="232" src="https://www.youtube.com/embed/tlrKm7qVBjU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="benefits">
      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/fire-icon1.png" >
        </div>
        
        <div class="benefit-description">
            Most insurance companies discount your policy as if you installed brick on your exterior
        </div>
      </div>
      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/fire-icon2.png">
        </div>
        <div class="benefit-description">
            Meets codes in states and metropolitan areas that Require Class A fire rated material
        </div>
      </div>
    </div>
  </div>
</div>