<div class="termite-resistant">
  <div class="title-logo d-flex">
    <div class="title-description">
      <div class="title">
        Termite Resistant
      </div>
      <div class="description">
          Cover your home in naturally insect resistant fiber cement siding.
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/pest-logo.png">
    </div>
  </div>
  <div class="benefits">
    <div class="benefit d-flex">
      <div class="icon">
        <img src="assets/images/termite-icon1.png" >
      </div>
      
      <div class="benefit-description">
          Prevents expensive damage from termites and other wood eating insects.
      </div>
    </div>

    <div class="benefit d-flex">
      <div class="icon">
        <img src="assets/images/termite-icon2.png" >
      </div>
      
      <div class="benefit-description">
          Pesticide Free
      </div>
    </div>

    <div class="benefit d-flex">
      <div class="icon">
        <img src="assets/images/rot-icon-2.png" >
      </div>
      
      <div class="benefit-description">
          Warranted against termites
      </div>
    </div>
  </div>
</div>