<div class="trim-traditional">
  <div class="home-image-description">
    <div class="home-image">
      <img src="assets/images/trim-trad-main.png">
    </div>
    <div class="description">
      <div class="desc-title">
        <span class="title2">Plycem Trim</span>
      </div>
      <div class="desc-subtitle">
        Traditional Look
      </div>
      <div class="desc-description">
        With an incomparable 50 year trim warranty, Plycem trim is the perfect complement to Allura siding. Available in many widths and thicknesses, create the look you want 
        with beauty and durability
      </div>
    </div>
  </div>
  <div class="home-images d-flex">
    <div class="home">
      <img src="assets/images/trim-trad-1.png">
    </div>
    <div class="home">
      <img src="assets/images/trim-trad-2.png">
    </div>
    <div class="home">
      <img src="assets/images/trim-trad-3.png">
    </div>
    <div class="home">
      <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
    </div>
  </div>
</div>