<div class="impact-resistant">
  <div class="title-logo d-flex">
    <div class="title-description">
      <div class="title">
        Impact Resistant
      </div>
      <div class="description">
          Unlike vinyl siding, Allura stands up even to hail.
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/impact-logo.png">
    </div>
  </div>
  <div class="benefits">
    <div class="benefit d-flex">
      <div class="icon">
        <img src="assets/images/impact-icon-1.png" >
      </div>
      
      <div class="benefit-description">
          Warranted against hail damage.
      </div>
    </div>

    <div class="benefit d-flex">
      <div class="icon">
        <img src="assets/images/impact-icon-2.png" >
      </div>
      
      <div class="benefit-description">
          Allura protects against:
          <p style="margin-top: 30px;">golf balls rocks kicked by mowers weed eaters little & big kids</p>
      </div>
    </div>
  </div>
</div>