<div class="trim-contemporary">
  <div class="home-image-description">
      <div class="home-image">
        <img src="assets/images/trim-con-back.png">
      </div>
      <div class="description">
        <div class="desc-title">
          <span class="title2">Contemporary Trim</span>
        </div>
        <div class="desc-subtitle">
          Traditional Look
        </div>
        <div class="desc-description">
            Make your house stand out with our contemporary trim option. 
            <p style="margin-top: 10px;"><a href="https://tamlyn.com/project-gallery/xtremeTrim/single-family-xtremetrim.html" target="_blank">Click here for more details</a><i class="fa fa-external-link" style="margin-left: 5px;"></i></p>
        </div>
      </div>
    </div>
    <div class="home-images d-flex">
      <div class="home">
        <img src="assets/images/trim-con-1.png">
      </div>
      <div class="home">
        <img src="assets/images/trim-con-2.png">
      </div>
      <div class="home">
        <img src="assets/images/trim-con-3.png">
      </div>
      <div class="home">
        <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
      </div>
    </div>
</div>