<div class="alska-component">
  <div class="modal-title">
    <div class="modal-close" (click)="onNoClick()">
    </div>
  </div>
  <div class="modal-body">
    <div class="title">
      The Alaska Zoo Chooses Allura
    </div>
    <div class="des">
      After 14 years Allura is still performing and looking great. 
    </div>
    <div class="images d-flex">
      <div class="flex-6 alska-zoo">
        <div class="des-1">
          <div>100 in + of snow per year. </div>
          <div>100+ mph winds</div>
          <div>100 degree temperature swings</div>
        </div>

        <div class="des-2">
          <div>Allura is the only Fiber Cement</div>
          <div>warrantied in Alaska because it stands strong</div>
          <div>against extreme weather!</div>
        </div>
      </div>
      <div class="flex-4 sub-img">
        <img src="assets/images/IMG_7775.png" class="sub-1">
        <img src="assets/images/alska-sub2.png" class="sub-2">
      </div>
    </div>
  </div>
</div>