.alska-component
  .modal-title
    display: flex;
    justify-content: flex-end;

    .modal-close
      position: relative;
      background-image: url(/assets/images/close.png);
      background-size: contain;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-repeat: no-repeat;

  .modal-body
    padding: 0 !important;
    padding-top: 20px;

    .title
      color: #4A4A4A;
      font-family: Lato;
      font-size: 35px;
      font-weight: 700;
      line-height: 42px;
      text-align: left;

    .des
      color: #4A4A4A;
      font-family: Lato;
      font-size: 18px;
      font-weight: 600;
      line-height: 37px;
      width: 855px;
      text-align: left;

    .images
      margin-top: 30px;

      .alska-zoo
        background-image: url(/assets/images/alska-zoo.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 483px;
        flex: 6;

        .des-1
          color: #FFFFFF;
          font-family: Lato;
          font-size: 25px;
          font-style: italic;
          font-weight: 600;
          line-height: 30px;
          width: 500px;
          text-align: left;
          position: relative;
          top: 20px;
          left: 30px;

        .des-2
          color: #FFFFFF;
          font-family: Lato;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          text-align: left;
          position: relative;
          top: 302px;
          left: 30px;

      .sub-img
        flex: 4;
        margin-left: 20px;

        img
          width: 100%;

          &.sub-1
            height 198px
          &.sub-2
            height 285px;
