<div class="container evolution-component">
  <div class="title-arrowline">
    <div class="title">
      The Evolution of Siding
    </div>
    <div class="arrowline">
    </div>
    <div class="arrow">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </div>
  </div>

  <div class="siding">
    <div class="brick text-center">
      <div class="material">
          <div class="subtitle">Stone/Brick</div>
          <div class="items">
            <ul>
              <li class="check">
                Beautiful
              </li>
              <li class="check">Durable</li>
              <li class="check">Expensive</li>
              <li class="check">Eco-friendly</li>
            </ul>
          </div>
          <div class="bottom">"Protected Paupers & Kings"</div>
      </div>
    </div>
    <div class="wood text-center">
      <div class="material">
        <div class="subtitle">Wood</div>
        <div class="items">
          <ul>
            <li class="check">Beautiful</li>
            <li class="check">Expensive</li>
            <li class="clse">High-Maintenance</li>
            <li class="clse">Composite Wood Concern</li>
            <li class="clse">Potential insect issues</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vinly text-center">
      <div class="material">
        <div class="subtitle">Vinyl</div>
        <div class="items">
          <ul>
            <li class="check">Less Expensive</li>
            <li class="clse">Potential Cracking Issues</li>
            <li class="clse">Potential Hail Issues</li>
            <li class="clse">Potential Melting Issues</li>
            <li class="clse">Potential weather issues</li>
          </ul>
        </div>
     
      </div>
    </div>
    <div class="cement text-center">
      <div class="material">
        <div class="subtitle">Fiber Cement</div>
        <div class="items">
          <ul>
            <li class="check">Beautiful & Durable</li>  
            <li class="check">Environmentally Friendly</li>
            <li class="check">Low-Maintenance</li>
            <li class="check">Insect. Fire. and Rot Resistant</li>
          </ul>
        </div>
        <div class="video">
          <a href="https://www.angieslist.com/videos/video-which-siding-material-best-your-home.htm" target="_blank"><img src="assets/images/video.png" style="margin: 0 0 10px;"></a>
          <div class="video-desc"><a href="https://www.angieslist.com/videos/video-which-siding-material-best-your-home.htm" target="_blank" style="color: white">Click here to hear what Angie’s list says</a></div>
          <div class="require-connect">Requires Connection</div>
        </div>
      </div>
    </div>
  </div>
</div>