.evolution-component
 	margin-top: 25px;
	 
  .title-arrowline
		.title
			color: #4A4A4A;
			font-family: Lato;
			font-size: 35px;
			font-weight: 700;
			line-height: 42px;
			margin-right: 20px;
			text-align: left;
			display: flex;
			align-items: center;

		.arrowline
			width: 53%;
			border: 3px solid #BF3526;
		.arrow
			i
				font-size: 38px;
				color: #BF3526;
	
	.siding
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-gap: 30px;

		> div
			padding-top: 15px;
			padding-bottom: 15px;
			position: relative;
			box-sizing: border-box;
			background-size: cover;
			height: 70vh;

			&.brick
				background-image: url(/assets/images/Brick.png);
			&.wood
				background-image: url(/assets/images/wood.png);
			&.vinly
				background-image: url(/assets/images/vinyl.png);
			&.cement
				background-image: url(/assets/images/fibercement.png);

		.material
			position: absolute;
			top: 0;
			width: 100%;

		.subtitle
			color: #FFFFFF;
			font-family: Lato;
			font-size: 25px;
			font-weight: 500;
			line-height: 30px;
			text-align: center;
			padding: 25px 0;
			padding-right: 25px;

		.items
			text-align: center;
			padding: 0 12px;

		ul
			padding-left:20px;
			list-style:none;
		li
			margin-bottom:10px;
		
		.check:before
			font-family: 'FontAwesome';
			content: '\f00c';
			margin:0 5px 0 -15px;
			color: #7ED321;

		.clse:before
			font-family: 'FontAwesome';
			content: '\f00d';
			margin:0 5px 0 -15px;
			color: #F5A623;

		li
			color: #FFFFFF;
			font-family: Lato;
			font-size: 16px;
			font-weight: 600;
			text-align: left;
			margin-bottom: 14px;

			i
				font-size: 15px;
				margin-right: 10px;

				&.fa-external-link
					margin-left: 6px;
			.fa-check
				color: green;
			.fa-close
				color: red;

		.bottom
			color: #fff;
			font-family: Lato;
			font-size: 16px;
			font-style: italic;
			font-weight: 600;
			line-height: 19px;
			width: 118px;
			text-align: center;
			position: relative;
			top: 170px;
			display: inline-block;

		.video-to-come
			color: #FFD0D6;
			font-family: Helvetica;
			font-size: 15px;
			font-weight: 600;
			line-height: 18px;
			text-align: center;
			padding-right: 25px;

		.video
			text-align: center;
			margin-top: 60px;
			color: #FFFFFF;
			font-family: Lato;
			font-size: 18px;
			font-style: italic;
			font-weight: 600;
			line-height: 22px;

			.video-desc
				padding: 0 56px;

@media only screen and (max-width: 1024px) 
	.video-desc
		padding: 0 40px!important;

@media only screen and (min-width: 990px) and (max-width: 1024px) 
	.siding
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr!important;
		grid-gap: 30px;

	iframe
		width: 170px;
		height: 100px;

	.video
		margin-top: 30px!important;

@media only screen and (max-width: 768px) 
	.video-desc
		padding: 0 88px!important;
	
	.title
		font-size: 27px!important;

	.arrowline
		border-width: 2px!important;

	.arrow
		i
			font-size: 28px!important;
			margin-bottom: 10px;

@media only screen and (max-width: 425px)
	.arrowline
		width: 22% !important;

	.title
		font-size: 24px !important;

@media only screen and (max-width: 320px)
	.title
		font-size: 18px !important;

	.arrowline
		width: 20%!important;
