.trustedby-component
  margin-top: 25px;

  .title
    color: #4A4A4A;
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
  
  .logos
    margin-top: 50px;
    > div
      padding: 15px 20px;
    
      img
        width: 100%;
        cursor: pointer;

  .click-any-logo-above
    color: #4A4A4A;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    margin-top: 20px;

    i
      margin-right: 10px;

  .50-yr-warranty-yellow
  .description
    margin-left: 50px;

    .title
      color: #4A4A4A;
      font-family: Lato;
      font-size: 35px;
      font-weight: 700;
      line-height: 42px;
      width: 396px;
      text-align: left;

    .allura-fiber-cement
      color: #4A4A4A;
      font-family: Lato;
      font-size: 18px;
      font-weight: 600;
      line-height: 37px;
      width: 396px;
      text-align: left;

@media only screen and (max-width: 425px)
  .description
    margin: 0!important;
  .title
    font-size: 27px!important;
@media only screen and (max-width: 375px)
  .description
    .title
      width: 307px!important;
    .allura-fiber-cement
      width: 307px!important;




      