.modal-body
  padding: 0!important;

.opions
  margin-left: 13px;
  
  > div
    padding: 20px 0;

    &.close-btn
      padding: 0 0 0 7px;

    img
      cursor pointer;
      padding-left: 6px;

    .title
      color: #51594A;
      font-family: Lato;
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      padding-top: 6px;
      text-align: center;
