<div class="kbhome-component">
  <div class="modal-title">
    <div class="modal-close" (click)="onNoClick()">
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="title">
          #6 Top Builder in US Trusts Allura
        </div>
        <div class="description">
          KB Homes was ranked number 6 builder in the country. Every day they choose Allura Fiber Cement for their building needs.
        </div>
        <div class="image">
          <img src="assets/images/kb-back-main.png">
        </div>
      </div>
      <div class="col-6">
          <table mat-table [dataSource]="dataSource" class="example-table"
          matSort>
          <!-- Number Column -->
          <ng-container matColumnDef="gross">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 900;">GROSS REVENUE (IN MILLIONS) 2016</th>
            <td mat-cell *matCellDef="let row">${{row.gross}}</td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 900;">TOTAL CLOSING 2016</th>
            <td mat-cell *matCellDef="let row">{{row.total}}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 900; width: 120px; text-align: center">COMPANY</th>
            <td mat-cell *matCellDef="let row" style="font-weight: 700; color: #2680ff">{{row.company}}</td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="prevrank">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 900;">PREV.RANK</th>
            <td mat-cell *matCellDef="let row">{{row.prevrank}}</td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 900;">
              RANK
            </th>
            <td mat-cell *matCellDef="let row" style="font-weight: 900;">{{row.rank}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.highlight]="row.rank === 6"></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[9]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>