
*
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;

.bead-board
  position: relative;
  display: inline-block;



.btton-element
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor pointer;

#btn1
  top: 12%;
  left: 3%;
  width: 12%;
  height 100%;
  background-image: url(/assets/images/marker-beadboard.png);

  @media only screen and (max-width: 1024px)
    top: 9%;
    left: 3%;
    width: 14%;

#btn2
  top: 19.5%;
  left: 11%;
  width: 8%;
  height 100%;
  background-image: url(/assets/images/marker-trim.png);

#btn3
  top: 9.5%;
  left: 23%;
  width: 9%;
  height 100%;
  background-image: url(/assets/images/marker-panel.png);

#btn4
  top: 9.5%;
  left: 42%;
  width: 8%;
  height 100%;
  background-image: url(/assets/images/marker-shingle.png);

#btn5
  top: 9.5%;
  left: 55%;
  width: 8%;
  height 100%;
  background-image: url(/assets/images/marker-soffit.png);

#btn6
  top: 16.5%;
  left: 59%;
  width: 13%;
  height 100%;
  background-image: url(/assets/images/marker-lap_siding.png);

#btn7
  top: 35.5%;
  left: 73%;
  width: 11%;
  height 100%;
  background-image: url(/assets/images/marker-weather_barrier.png);
  
.main-back
  max-width: 100%;
  display: block;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  min-height: 590px;

@media only screen and (max-width: 1024px)
  top: 9%;
  left: 3%;
  width: 14%;
  height 100%;
  background-image: url(/assets/images/marker-beadboard.png);