<div class="bead-board">
  <!-- <img src="assets/images/beadboard.png" class="beadboard">
  <img src="assets/images/trim.png" class="trim">
  <img src="assets/images/panel.png" class="panel">
  <img src="assets/images/shingle.png" class="shingle">
  <img src="assets/images/soffit.png" class="soffit">
  <img src="assets/images/lapsiding.png" class="lapsiding">
  <img src="assets/images/weatherbarrier.png" class="weatherbarrier"> -->
  <!-- <div class="beadboard" (click)="openHomeModal('beadboard')"></div>
  <div class="trim" (click)="openHomeModal('trim')"></div>
  <div class="panel" (click)="openHomeModal('panel')"></div>
  <div class="shingle" (click)="openHomeModal('shakes')"></div>
  <div class="soffit" (click)="openHomeModal('soffit')"></div>
  <div class="lapsiding" (click)="openHomeModal('lap')"></div>
  <div class="weatherbarrier" (click)="openWeather()"></div> -->
  <img src="assets/images/Housing_Map.png" class="main-back">
  <div id="btn1" class="btton-element" (click)="openHomeModal('beadboard')"></div>
  <div id="btn2" class="btton-element" (click)="openHomeModal('trim')"></div>
  <div id="btn3" class="btton-element" (click)="openHomeModal('panel')"></div>
  <div id="btn4" class="btton-element" (click)="openHomeModal('shakes')"></div>
  <div id="btn5" class="btton-element" (click)="openHomeModal('soffit')"></div>
  <div id="btn6" class="btton-element" (click)="openHomeModal('lap')"></div>
  <div id="btn7" class="btton-element" (click)="openWeather()"></div>
  
</div>