.over75-component
	background-image: url('../../../assets/images/over75-back.png');
	background-repeat: no-repeat;
	height: calc(100vh - 100px);
	background-size: cover

.over-75-years-of-fib
	color: #FFFFFF;
	font-family: Lato;
	font-size: 45px;
	font-weight: 700;
	line-height: 54px;
	text-align: left;
	position: relative;
	top: 236px;
	left: 42px;

.with-over-75-years-o-copy-2
	color: #FFFFFF;
	font-family: Lato;
	font-size: 26px;
	font-weight: 600;
	line-height: 42px;
	width: 460px;
	text-align: left;
	position: relative;
	top: 256px;
	left: 42px;

@media only screen and (max-width: 425px)
	.over-75-years-of-fib
		width: 332px!important;
		font-size: 33px!important;
	.with-over-75-years-o-copy-2
		font-size: 18px!important;
		width: 350px!important;
		line-height: 34px!important;
@media only screen and (max-width: 375px)
	.over-75-years-of-fib
		width: 260px !important;
		font-size: 24px !important;
	.with-over-75-years-o-copy-2
		font-size: 18px !important;
		width: 272px !important;