<div class="panel-traditional">
  <div class="home-image-description">
    <div class="home-image">
      <img src="assets/images/panel-trad-main.png">
    </div>
    <div class="description">
      <div class="desc-title">
        <span class="title1">Allura USA </span><span class="title2">Architectural Panels</span>
      </div>
      <div class="desc-subtitle">
        Classic Look for Your Home
      </div>
      <div class="desc-description">
          A stylish addition to any design, Stucco Vertical Panels offer endless possibilities.
      </div>
    </div>
  </div>
  <div class="home-images d-flex">
    <div class="home">
      <img src="assets/images/panel-trad-1.png">
    </div>
    <div class="home">
      <img src="assets/images/panel-trad-2.png">
    </div>
    <div class="home">
      <img src="assets/images/panel-trad-3.png">
    </div>
    <div class="home">
      <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
    </div>
  </div>
</div>