.why-component 
  background-image: url('../../assets/images/Allura_Home.png');
  background-repeat: no-repeat;
  height: 100vh
  background-size: cover

.fiber-cement-siding
  color: #FFFFFF;
  font-family: Lato;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  width: 630px;
  text-align: left;
  position: relative;
  top: 51%;
  left: 42px;

.allura-fiber-cement
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 37px;
  width: 610px;
  text-align: left;
  position: relative;
  top: 52%;
  left: 42px;

.start-btn
  background-color: #FFFFFF;
  color: #51594A;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  width: 230px;
  text-align: center;
  padding: 20px;
  width: 260px;
  position: absolute;
  text-align: 621px;
  top: 76%;
  left: 42px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

button:focus
  outline: none;

@media only screen and (max-width: 768px) 
  .fiber-cement-siding
    font-size: 24px;
    width: 314px;
    line-height: 30px;

  .allura-fiber-cement
    width: 325px;
    font-size: 18px;
    line-height: 30px;
    
  .start-btn
    top: 87%

@media only screen and (max-width: 320px)
  .fiber-cement-siding
    font-size: 21px;
    width: 256px;

  .allura-fiber-cement
    width: 272px;
    font-size: 18px;

  .start-btn
    top: 90%
    width: 225px;