<div class="container costvsvalue-component">
  <div class="title">
    Cost vs Value
  </div>
  <div class="sub-title">
    Fiber Cement Siding is the absolute Best Bang for the Buck
  </div>
  <div class="costvsvalue-body">
    <div class="row">
      <div class="col-md-9 col-sm-9">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 according">
            <div class="description">
                According to nationwide survey, fiber
                cement siding had the highest rate of
                return of any home remodel project for
                8 years in a row. ***
                <div>
                  Fiber Cement Siding is <a href="https://www.youtube.com/watch?v=GbRtbX8gAio" target="_blank">recommended by Angie's list</a> as having excellent ROI.
                </div>
            </div>

          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 replacement">
            <div class="replacement-title">Other home remodeling investments ROI</div>
            <div class="values resale-value">
              <div class="percent">Project Type</div>
              <div class="percent">Average Cost</div>
              <div class="percent">ROI</div>
            </div>
            <div class="values avg-job">
              <div class="title">Bathroom remodel</div>
              <div class="value">$16,724</div>
              <div class="percent">70%</div>
            </div>
            <div class="values resale-value">
              <div class="title">Kitchen remodel</div>
              <div class="value">$56,700</div>
              <div class="percent">68%</div>
            </div>
            <div class="values cost-recouped">
              <div class="title">Fiber Cement siding</div>
              <div class="value">$14,050*</div>
              <div class="percent">84%</div>
            </div>
          </div>
        </div>
        <div class="row rated-best">
          <div style="position: absolute">
            <img src="assets/images/why3.png" class="remodeling">
          </div>
          <div class="description">
              Rated Best Investment
              Eight Years in a Row<br/>
              <!-- <a href="https://www.youtube.com/watch?v=GbRtbX8gAio" style="color:#fff; font-size:.7em;">Angie's List recommends Fiber Cement Siding</a> -->
          </div>
        </div>
        <div class="remodeling-magaz">
          <div><a href="https://www.remodeling.hw.net/cost-vs-value/2015/" target="_blank">* “Remodeling" Magazine</a></div>
          <div>** Last time Fiber Cement was surveyed</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 side-images text-center">
        <div class="first-img">
          <img src="assets/images/why1.png">
        </div>
        <div class="second-img">
          <img src="assets/images/why2.png">
        </div>
      </div>
    </div>

  </div>
</div>
