.costvsvalue-component
	margin-top: 25px;

	.title
		color: #4A4A4A;
		font-family: Lato;
		font-size: 35px;
		font-weight: 700;
		line-height: 42px;
		width: 685px;
		text-align: left;

	.sub-title
		color: #4A4A4A;
		font-family: Lato;
		font-size: 25px;
		font-style: italic;
		font-weight: 600;
		line-height: 30px;
		width: 701px;
		text-align: left;

	.costvsvalue-body
		margin-top: 20px;

		.according
			.description
				color: #4A4A4A;
				font-family: Lato;
				font-size: 18px;
				font-weight: 600;
				line-height: 37px;
				width: 317px;
				text-align: left;
			p
				color: #4A4A4A;
				font-family: Lato;
				font-size: 18px;
				font-weight: 600;
				line-height: 26px;
				text-align: left;

		.replacement
			.replacement-title
				color: #000000;
				font-family: Lato;
				font-size: 19px;
				font-weight: 900;
				line-height: 23px;
				text-align: center;
				margin-bottom: 15px;

			.values
				display: flex;
				align-items: center
				padding: 15px

				&.avg-job,
				&.cost-recouped
					background-color: #ECECEC;

				.title
					color: #000000;
					font-family: Lato;
					font-size: 20px;
					font-style: italic;
					font-weight: bold;
					line-height: 24px;
					width: 170.07px;
					text-align: center;
					flex: 1;

				.value
					color: #136897;
					font-family: Lato;
					font-size: 20px;
					font-style: italic;
					font-weight: 700;
					line-height: 24px;
					width: 153.78px;
					text-align: center;
					flex: 1;
				.percent
					color: #000;
					font-family: Lato;
					font-size: 20px;
					font-style: bold;
					font-weight: 700;
					line-height: 24px;
					width: 153.78px;
					text-align: center;
					flex: 1;

			.replace
				color: #4A4A4A;
				font-family: Lato;
				font-size: 14px;
				font-style: italic;
				font-weight: 600;
				line-height: 17px;
				text-align: left;
				margin-top: 20px;

		.rated-best
			background-color: #BF3526;
			height: 123px;
			align-items: center;
			margin-top: 17px;

			.description
				color: #FFFFFF;
				font-family: Lato;
				font-size: 30px;
				font-weight: 900;
				line-height: 36px;
				width: 456px;
				text-align: center;
				flex: 1;
				position: absolute;
				margin-left: 258px;

		.side-images
			padding-left: 20px;

			img
				width: 80%

			.second-img
				margin-top: 22px;

		.remodeling-magaz
			color: #4A4A4A;
			font-family: Lato;
			font-size: 18px;
			font-weight: 600;
			line-height: 22px;
			text-align: left;
			margin: 61px 0 20px 0;

@media only screen and (max-width: 768px)
	.according
		.description
			width: unset!important;

	.title
		width: unset!important;
	.sub-title
		width: unset!important;
	.remodeling
		width: 195px;
	.rated-best
		height: 94px!important;
		.description
			font-size: 20px!important;
			width: unset!important;

@media only screen and (max-width: 425px)
	.rated-best
		margin-top: 66px!important;
	.rated-best
		.description
			font-size: 16px!important;
			margin-left: 190px!important;
	.remodeling
		width: 162px;
	.replacement
		margin-top: 20px;
