.feature-benefits-component
  margin-top: 25px;

.title
  color: #4A4A4A;
  font-family: Lato;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  width: 329px;
  text-align: left;
  margin-bottom: 22px;

.features
  margin-bottom: 35px;

.feature
  min-height: 235px;
  margin-bottom: 20px;

.icon
  img
    padding: 24px 27px;
    background-color: #8D8266;
    border-radius: 50%;
    color: white;
    font-size: 27px;
    cursor pointer;
    
    &.rain
      padding: 30px 20px;

.description
  margin-left: 20px;
  .des-title
    color:#51594A;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    width: 205.27px;
    text-align: left;
  .des
    color: #142736;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    width: 205.27px;
    text-align: left;
  .learn-more
    background-color: #EAE7E1;
    border-radius: 50px;
    color: #3C3C3C;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 13px;
    padding: 8px 40px;
    margin-top: 21.62px;

  .learn-more:focus
    outline: none;

.logo-description
  margin-top: 10px;

  .logo
    text-align: center;

  .description-logo
    height: 76px;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0 67px;

@media only screen and (max-width: 768px)
  .des-title
    width: unset!important;
  .des
    width: unset!important;