<div class="container feature-benefits-component">
  <div class="title">
    Features & Benefits
  </div>
  <div class="row features">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex feature">
      <div class="icon">
        <img src="assets/images/fire.svg" (click)="openDetailModal('fire')" style="padding: 23px 27px;">
      </div>
      <div class="description">
        <div class="des-title">
          Non-combustible
        </div>
        <div class="des">
          Our class-A rated fire material keeps your home safe and your family sound.
        </div>
        <button mat-button class="learn-more" (click)="openDetailModal('fire')">Learn More</button>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex feature">
      <div class="icon">
        <img src="assets/images/bug.svg" (click)="openDetailModal('pest')" style="padding: 21px 21px;">
      </div>
      <div class="description">
        <div class="des-title">
          Termite Resistant
        </div>
        <div class="des">
          Never worry about termites destroying your home with Allura’s fiber cement products.
        </div>
        <button mat-button class="learn-more" (click)="openDetailModal('pest')">Learn More</button>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex feature">
      <div class="icon">
        <img class="rain" src="assets/images/cloud.svg" (click)="openDetailModal('weather')" style="padding: 29px 18px;">
      </div>
      <div class="description">
        <div class="des-title">
          Weather Resistant
        </div>
        <div class="des">
          From high-winds to flooding our fiber cement products are built with you in mind.
        </div>
        <button mat-button class="learn-more" (click)="openDetailModal('weather')">Learn More</button>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex feature">
      <div class="icon">
        <img src="assets/images/Hammer.svg" (click)="openDetailModal('impact')" style="padding: 19px 22px;
        ">
      </div>
      <div class="description">
        <div class="des-title">
          Impact Resistant
        </div>
        <div class="des">
          Strong and gorgeous our products resist hail, rock damage and woodpeckers.
        </div>
        <button mat-button class="learn-more" (click)="openDetailModal('impact')">Learn More</button>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class="row features"> -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex feature">
      <div class="icon">
          <img src="assets/images/rot-icon12.png" (click)="openDetailModal('rot')" style="padding: 23.5px 27px;
          ">
      </div>
      <div class="description">
        <div class="des-title">
          Rot Resistant
        </div>
        <div class="des">
          Protect against the elements and wood rot.
        </div>
        <button mat-button class="learn-more" (click)="openDetailModal('rot')">Learn More</button>
      </div>
    </div>

  

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 logo-description">
      <div class="logo">
        <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
      </div>
      
      <div class="description-logo">
        Best fiber cement siding and trim warranty.
      </div>
    </div>
  </div>
</div>