<div class="rot-resistant">
  <div class="title-logo d-flex">
    <div class="title-description">
      <div class="title">
        Rot Resistant
      </div>
      <div class="description">
          <div>Moisture and time are home killers.</div>
          <div style="width: 290px">Allura will not rot.</div>
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/IconsRot.png">
    </div>
  </div>

  <div class="video-benefits d-flex">
    <div class="video">
      <!-- <img src="assets/images/rot-video.png"> -->
      <!-- <iframe width="380" height="204" src="https://www.youtube.com/embed/AsQ5nal2XLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <div class="video-des">
          <!-- LP “Rot” VIDEO
          coming from Brett -->
      </div>
    </div>
    <div class="benefits">
      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/rot-icon-1.png" >
        </div>
        
        <div class="benefit-description">
            Will not rot over time
        </div>
      </div>
      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/rot-icon-2.png">
        </div>
        <div class="benefit-description">
            Warranted against rot
        </div>
      </div>
    </div>
  </div>
</div>