.toll-component
  .modal-title
    display: flex;
    justify-content: flex-end;

    .modal-close
      position: relative;
      background-image: url(/assets/images/close.png);
      background-size: contain;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-repeat: no-repeat;

  .modal-body
    padding: 0 !important;
    padding-top: 20px;
    
    .title
      color: #4A4A4A;
      font-family: Lato;
      font-size: 35px;
      font-weight: 700;
      line-height: 42px;
      width: 353px;
      text-align: left;

    .description
      color: #4A4A4A;
      font-family: Lato;
      font-size: 18px;
      font-weight: 600;
      line-height: 37px;
      width: 369px;
      text-align: left;
      padding: 20px 0 50px 0;

    .image
      img
        width: 100%;

    .highlight
      border: 2px solid red;