.home-modal-component
  .modal-title
    display: flex;
    justify-content: flex-end;

    .modal-close
      position: relative;
      background-image: url(/assets/images/close.png);
      background-size: contain;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-repeat: no-repeat;
      z-index: 3
      
  .modal-body
    margin-top: -60px;

    .component-title
      height: 43px;
      color: #4a4a4a;
      font-family: Lato;
      font-size: 35px;
      font-weight: 700;
    .option-buttons
      margin-top: 20px;

      button
        width: 123px;
        background-color: #136897;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        margin-right: 20px;

        &.unactive
          background-color: #eae7e1;

    .home-image-description
      margin-top: 20px;

      .home-image
        width: 768px;
        height: 316px;

        img
          width: 100%;

      .description
        width: 339px;
        height: 235px;
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.26);
        background-color: #ffffff;
        position: absolute;
        top: 181px;
        right: 0px;
        padding: 19px 23px;

        .desc-title
          color: #4a4a4a;
          font-family: Helvetica;
          font-size: 20px;

          .title2
            font-weight: 700;
            font-style: italic;

        .desc-subtitle
          color: #4a4a4a;
          font-family: Helvetica;
          font-size: 20px;
          font-weight: 700;
          /* Text style for "Allura" */
          font-family: Helvetica;
          /* Text style for "" */
          font-family: Helvetica;
          font-size: 30px;
          font-weight: 700;

        .desc-description
          color: #4A4A4A;
          font-family: Lato;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          width: 290px;
          text-align: left;
    
    .home-images
      margin-top: 80px;

      .home
        width: 180px;
        height: 131px;
        margin-right: 20px;