<div class="weather-resistant">
  <div class="title-logo d-flex">
    <div class="title-description">
      <div class="title">
        Weather Resistant
      </div>
      <div class="description">
          Durable, engineered to endure harsh weather & high wind climates
      </div>
    </div>
    <div class="logo">
      <img src="assets/images/weather-logo.png">
    </div>
  </div>

  <div class="castle-benefits d-flex">
    <div class="video">
      <img src="assets/images/castle.png">
      <img src="assets/images/line_3.png" class="line-3">
      <div class="line-desc">Fiber Cement Siding</div>
    </div>

    <div class="benefits">
      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/weather-icon-1.png" >
        </div>
        
        <div class="benefit-description">
            WIND: resist up-lift and racking up to 110 MPH winds.
        </div>
      </div>

      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/weather-icon-2.png">
        </div>
        <div class="benefit-description">
            SNOW: only fiber cement siding warranted in Alaska. 100" of snow a year.
        </div>
      </div>

      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/weather-icon-3.png">
        </div>
        <div class="benefit-description">
            HAIL: Won’t dent or chip under extreme conditions
        </div>
      </div>

      <div class="benefit d-flex">
        <div class="icon">
          <img src="assets/images/weather-icon-4.png">
        </div>
        <div class="benefit-description">
            WATER: Not damaged in flood regions.
        </div>
      </div>
    </div>
  </div>
  <div class="alaska d-flex">
    <div class="alaska-img">
      <img src="assets/images/alaska-zoo-logo.png">
    </div>
    <div class="description">
        Allura has protected the 
        Alaska zoo for over 14 years. 
    </div>
  </div>
</div>