<div class="lap-traditional">
  <div class="home-image-description">
    <div class="home-image">
      <img src="assets/images/lap-trad-main.png">
    </div>
    <div class="description">
      <div class="desc-title">
        <span class="title1">Allura USA </span><span class="title2">Lap Siding</span>
      </div>
      <div class="desc-subtitle">
        TRADITIONAL
      </div>
      <div class="desc-description">
        Allura Fiber Cement Lap Siding is available in both Traditional and Smooth premier finishes to match your home’s style.
      </div>
    </div>
  </div>
  <div class="home-images d-flex">
    <div class="home">
      <img src="assets/images/lap-trad-1.png">
    </div>
    <div class="home">
      <img src="assets/images/lap-trad-2.png">
    </div>
    <div class="home">
      <img src="assets/images/lap-trad-3.png">
    </div>
    <div class="home">
      <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
    </div>
  </div>
</div>