/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css"
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/fonts.styl";

body
  margin: 0px;

.mat-dialog-container
  border-radius: 10px !important;
  
.app-weather-barrier
  position: relative;
  top: -22px;
  left: -17px;

.require-connect
  font-family: Lato;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  margin-top: 5px;