<div class="weather-barrier">
  <!-- <div class="modal-title">
    <div class="modal-close" (click)="onNoClick()">
    </div>
  </div> -->
  <div class="modal-body">
    <img src="assets/images/close.png" class="main-close" (click)="onNoClick()">
    <img src="assets/images/weather-barrier-1-1.jpg" class="main-bg">
    <div class="main-title">
        Protecting your home from the inside, out.
    </div>
    <div class="main-sub">
      For a complete siding system
    </div>
    <div class="main-des1">
      <div>
        * 90% of all siding issues are associated with water
       </div>
       <div>
          * Over 2 billion dollars’ worth of damage a year.
       </div>
    </div>
    <div class="main-des">
        We protect your home against water issues with flashings, caulking and an excellent weather barrier.
        Don’t accept a quote without knowing how your home is being protected
    </div>
    <div class="main-bottom">
      We don't skimp because we care. 
    </div>
  </div>
 
</div>