.modal-title
  display: flex;
  justify-content: flex-end;

  // .modal-close
  //   position: relative;
  //   background-image: url(/assets/images/close.png);
  //   background-size: contain;
  //   width: 32px;
  //   height: 32px;
  //   cursor: pointer;
  //   background-repeat: no-repeat;
  //   z-index: 3

.modal-body
  padding: 0;

  .main-bg
    width: 903px;
    margin: -40px;
  .main-close
    position: absolute;
    right: 0;
    cursor pointer;
    
  .main-title
    width: 665px;
    height: 43px;
    color: #ffffff;
    font-family: Lato;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 77px;
    left: 89px;
  .main-sub
    color: #ffffff;
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    position: absolute;
    top: 122px;
    left: 226px;
  .main-des1
    width: 666px;
    height: 235px;
    color: #fff;
    font-family: Lato;
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    position: absolute;
    top: 173px;
    left: 88px;
  .main-des
    width: 666px;
    height: 235px;
    color: #fff;
    font-family: Lato;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    position: absolute;
    top: 267px;
    left: 88px;
  .main-bottom
    color: #ffffff;
    font-family: "Lato Semibold";
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    position: absolute;
    top: 461px;
    left: 150px;