.yearhistory-component
	.title-logo
		display: flex;
		align-items: center;
		justify-content: center;
	img
		height: 656px;

@media only screen and (max-width: 768px)
	img
		height: 482px!important;

@media only screen and (max-width: 425px)
	img
		height: 275px!important;
@media only screen and (max-width: 375px)
	img
		height: 217px!important;

