<div class="shakes-perfection">
  <div class="home-image-description">
    <div class="home-image">
      <img src="assets/images/shakes-perfection-main.png">
    </div>
    <div class="description">
      <div class="desc-title">
        <span class="title1">Allura </span><span class="title2">Shingle Panel</span>
      </div>
      <div class="desc-subtitle">
        Perfection Shingles
      </div>
      <div class="desc-description">
          Perfection Shingles. Achieve a shingle look while keeping within budget. Thicker siding gives a great shadow line.
      </div>
    </div>
  </div>
  <div class="home-images d-flex">
    <div class="home">
      <img src="assets/images/shakes-per-1.png">
    </div>
    <div class="home">
      <img src="assets/images/shakes-per-2.png">
    </div>
    <div class="home">
      <img src="assets/images/shakes-per-3.png">
    </div>
    <div class="home">
      <img src="assets/images/50yrWarranty_YELLOW_Copy_2.png">
    </div>
  </div>
</div>