.worst-modal-component
  .modal-title
    display: flex;
    justify-content: flex-end;

    .modal-close
      position: relative;
      background-image: url(/assets/images/close.png);
      background-size: contain;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-repeat: no-repeat;

  .modal-body
    padding: 0 !important;

    .top-image
      margin-top: 20px;
      
      .main-img
        width: 100%;
    
    .row
      margin-top: 40px;

      .desc
        padding-left: 80px;

      .title
        color: #4A4A4A;
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        width: 366px;
        text-align: left;

      .description
        color: #4A4A4A;
        font-family: Lato;
        font-size: 18px;
        font-weight: 600;
        line-height: 37px;
        width: 367px;
        text-align: left;

      img
        width: 100%;