<div class="worst-modal-component">
  <div class="modal-title">
    <div class="modal-close" (click)="onNoClick()">
    </div>
  </div>
  <div class="modal-body">
    <div class="top-image">
      <img src="assets/images/Group_2.png" class="main-img">
    </div>
    <div class="row">
      <div class="col-6 desc">
        <div class="title">
          Popular Remodeling Show Chooses Allura
        </div>
        <div class="description">
          When professional contractors Mickey and Sebastian  looked for a siding solution that will stand up to the changing Canadian climate, they turned to Allura Fiber Cement Siding.
        </div>
      </div>
      <div class="col-6">
        <img src="assets/images/Worst2First-AlluraHouse.png">
      </div>
    </div>
  </div>
</div>